<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <div>Ne puteți contacta pe: </div>
      <!-- Section: Social media -->
      <section class="mb-4 mt-2">
        <a mdbRipple rippleColor="orange" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/vericubarbershop/" role="button"  target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a mdbRipple rippleColor="orange" class="btn btn-outline-light btn-floating m-1" href="https://wa.me/40752816855" role="button" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a mdbRipple rippleColor="orange" class="btn btn-outline-light btn-floating m-1" href="https://m.me/kelemangiar0" role="button" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </section>
      <!-- Section: Social media -->
  
      <section class="mb-4 ">
        <a href="https://anpc.ro/ce-este-sal/" target="_blank">
            <img src="assets/anpc.webp" style="max-height: 70px; max-width: 80vw;" />
        </a>
        <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO" target="_blank">
            <img src="assets/anpc2.webp" style="max-height: 70px; max-width: 80vw;" />
        </a>
    </section>
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Vă rugăm să țineți cont că acest site web poate afișa informații referitoare la slot-urile de programare care pot fi eronate. 
          Deși facem tot posibilul pentru a oferi servicii online convenabile, 
          comunicarea directă prin telefon ne permite să vă oferim cele mai precise și actualizate programări disponibile. 
          Vă mulțumim pentru înțelegere și pentru că alegeți să utilizați serviciile noastre. 
          Pentru orice întrebări sau nelămuriri suplimentare, vă rugăm să nu ezitați să ne contactați.
        </p>
      </section>
      <!-- Section: Text -->

      
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(9, 7, 5, 0.25);">
      <div>
        <a>Telefon: +40 752 816 855</a>
      </div>
      <div>
        <a>E-mail: contact&#64;vericubarbershop.com</a>
      </div>
      © 2024 Copyright: Vericu' Barbershop
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->