#mainImage{
    background: rgb(0,0,0);
  background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(44, 31, 17) 100%);
    min-height: 200px;
    height: calc(100vh);
}

a{
    color: #faebd7;
    border-color: #faebd7;
}