<div style=" background: rgb(0,0,0); background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(44, 31, 17) 100%);">

      <div style="text-align: center; padding: 50px;">
        <svg style="max-height: 100px; width:auto; fill: #968979;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434 308"><path d="M168.37,410H440.49c18.2,0,32.51-15.25,32.51-33.45V323.21L347,234Z" transform="translate(-39 -102)"></path><path d="M232,172.46a28.18,28.18,0,1,0,28.18,28.18h0A28.22,28.22,0,0,0,232,172.46Z" transform="translate(-39 -102)"></path><path d="M142.63,271.68L39,331.93v44.62C39,394.75,53.31,410,71.51,410h76.89l91.91-90.43Z" transform="translate(-39 -102)"></path><path d="M440.49,102h-369C53.31,102,39,117.25,39,135.45v180.3l99.81-58a6.48,6.48,0,0,1,6.32-.24l105.58,51.47,90.76-89.26a6.83,6.83,0,0,1,8.83-.72L473,306V135.45C473,117.25,458.69,102,440.49,102ZM232,242.83a42.18,42.18,0,1,1,42.18-42.18h0A42.23,42.23,0,0,1,232,242.83Z" transform="translate(-39 -102)"></path></svg>  
        <h1>Galerie</h1>
      </div>

      <div class="d-flex flex-column align-items-center" style="background-color: transparent;">

        <!--pt ecrane mici-->
        <mdb-carousel [controls]="true" [animation]="'fade'" class="d-md-none d-lg-none" style="max-width: 90vw;">
          <mdb-carousel-item *ngFor="let imagine of imagini">
            <img [src]="imagine" class="d-block w-100" alt="...">
          </mdb-carousel-item>
        </mdb-carousel>
        <!--pt ecrane mici-->
      
        <!-- Grid pentru ecrane medii și mari -->
        <div class="d-none d-md-flex d-lg-flex justify-content-center align-items-center flex-wrap" style="padding: 40px;">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4" *ngFor="let imagine of imagini">
              <img [src]="imagine" class="img-fluid mb-2" alt="...">
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-center" style="padding: 40px;">
          <p>Pentru mai multe imagini puteți vizita pagina de Instagram.</p>
        </div>

        <!-- <button (click)="openFileExplorer()">Adaugă Imagine</button> -->



      </div>
</div>