<div id="banner">
  <div id="mainImage" class="p-5 text-center bg-image">
  <div class="mask" style="background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(94,58,15,0) 100%);">
    <div class="d-flex justify-content-left align-items-center h-100">
      <div style="color: #faebd7; padding: 5px;">
        <h5 class="mb-4 ">Frizeria care spune: pleci de aici direct la gagici</h5>
        <h1 class="mb-5 ">Te aștepăm pe La Vericu'</h1>
        <a mdbRipple rippleColor="orange" class="btn btn-outline-light btn-lg rounded-pill" (click)="toServicii()" role="button">Vezi servicii</a>
      </div>
    </div>
  </div>
  </div>
</div>